.table-image {
  max-width: 10vw;
  max-height: 15vh;
}

.show-image {
  margin: 0 auto;
  max-height: 40vh;
}

.image {
  text-align: center;
}

.thumbnail .book-image {
  height: 333px;
}

.book-description {
  line-break: strict;
  word-break: break-all;
  word-wrap: break-word;
  height: 44px;
}